﻿/*
Theme Name: LMS 2015
Theme URI: http://lms.vn
Author: LMS Dev
Author URI: http://lms.vn/
Description: Giao diện 2015 của Lekima.
Version: 1.0
License: Copyright 2015 LMS
License URI: http://lms.vn
Tags: yellow, two-columns, left-sidebar, fixed-layout, responsive-layout
Text Domain: lms
*/

@font-face{
    font-family:OpenSans-Regular;
    src: url('fonts/OpenSans-Regular.ttf');
}
@font-face{
    font-family:OpenSans-Light;
    src: url('fonts/OpenSans-Light.ttf');
}
ul li{list-style: none}
.container{max-width: 1000px;}
body{font-family: "OpenSans-Regular", Arial;font-size: 13px}
body{background: url("images/bg.jpg") bottom repeat-x; height: 100% }
/****menu header*/
.navbar-brand img{margin-right: 30px;margin-top: -50px; height: 54px;width: 62px}
.menu-header{padding-top: 1px;padding-bottom: 19px}
.navbar-header .navbar-brand{padding-right: 30px}
.navbar-default .navbar-nav > li > a{font-family: OpenSans-Regular;font-size: 15px;text-transform: uppercase}
.menu-header .navbar-nav > li > a {padding-bottom: 12px;padding-top: 12px;}
.menu-header .form-control {border-bottom: 1px solid #ffc72c;border-right: 0px;border-top: 0px;border-left: 0px;
    box-shadow:none;background: #f8f8f8;border-radius: 0px;
    background: url("images/search.png") no-repeat right;
}
.menu-header .navbar-default .navbar-collapse, .navbar-default .navbar-form{border: 0px}

.product-service .item h2{margin-bottom: 40px}
.product-service .col-sm-12{padding-top: 60px;padding-bottom: 30px; background-color: transparent;
    -moz-box-shadow:0 4px 2px #777;
    -webkit-box-shadow:0 4px 2px #777;
    box-shadow: 0 4px 2px #777;
    background-image: linear-gradient(to bottom, #fefefe 10%, #fdfdfd 40%, #e5e5e5 100%);}
.sliders { margin: 0 auto; text-align: center;}
.sliders img{width: 100%;height: auto}
.menu-header .navbar-nav > .active > a, .menu-header .navbar-nav > .active > a:hover, .menu-header .navbar-nav > .active > a:focus{
    background: none;
}

.menu-header .navbar-default .navbar-nav > li > a:hover,
.menu-header .navbar-default .navbar-nav > li > a:focus {
    color: #d58512;
    background-color: transparent;
}
.menu-header .navbar-nav > li:hover > ul > li a{color: #555}
.menu-header .navbar-nav > li > ul > li a:hover{color: #d58512}
.menu-header .navbar-nav > li .sub-menu li a:hover{color: #d58512}

.menu-header .navbar-nav > li.current-menu-parent a{color:#d58512}
.menu-header .navbar-nav > li.current-menu-item a{color:#d58512}

.menu-header .navbar-nav > li.current-menu-parent > ul > li a{color:#555}
/*.menu-header .navbar-nav > li.current-menu-parent > ul > li.current-menu-item a{color: #d58512}*/

.menu-header .navbar-nav > li.current-menu-item > ul > li > a{color: #555}



/***sbmenu**/

.sub-menu{display: none;width:322%;background: #f8f8f8;margin-left: 14px;padding-left: 0px;padding-bottom: 14px;padding-top: 5px}
.navbar-nav > li .sub-menu li{float: left;width: 100%;padding: 5px;
    list-style-image: url("images/icon-right-arrow.png");list-style-position: inside;
   }
.navbar-nav > li:hover .sub-menu{display: block;position: absolute; }
.navbar-nav > li .sub-menu li a:hover{color: #d8a107}
.navbar-nav > li .sub-menu li a{text-transform: capitalize;text-decoration: none;font-size: 14px}
/***/
footer{background: url("images/fo.png") repeat-x;height: 100%;border-top: 1px solid #e3c215;padding-bottom: 20px}
.address{margin: 0 auto;width: 50%; padding-top: 13px;}
.services a { list-style:circle;
    color: #000;margin-left: 0px;
    line-height: 28px;
    margin: 3px;
    padding: 11px;
}
.list-item > li{list-style: none}
.product-service .list-item > li{line-height: 27px}
.wrapper-product .pagination1{border-bottom: 0px}
.page-id-139 .pagination1{ width: 100%;overflow: hidden;float: left;
    padding-bottom: 20px;}
.fonts-h{text-transform: uppercase}
textarea.form-control{height: 168px}
.product-service .services{padding-bottom: 50px}
.partners{padding-bottom: 15px}
p.short-detail,.services a{color: #757575;    padding-left: 5px
font-size: 14px;}
.services > li{list-style: outside none disc;}
.product-service img.media-object{width: 85px;height: 85px;border: 1px solid #e5e5e5}
.languages{width: 1000px;overflow: hidden;padding-left: 15px;padding-right:15px;margin-top: 8px;}
.languages ul{float: left;width: 100%;list-style: none}
.languages li{float: right}
.qtrans_flag{height: 12px;
    width: 18px;}
.qtrans_flag_vi{height: 12px;margin-right: 7px;
    width: 18px;}

.product-service .media-heading a{color: #000}
.flexslider{margin-top: 93px}
.product-service h2{text-transform: uppercase}
.news .row{background: url("images/ln.png") repeat-x;height: 61px}
.news .media-heading{margin-top: 18px}
.news .media-heading a{color: #000}
#amazingcarousel-1 .amazingcarousel-image img{-moz-box-shadow: 0 0 1px 1px #cfcfcf;
    -webkit-box-shadow: 0 0 1px 1px #cfcfcf;
    box-shadow: 0 0 1px 1px #cfcfcf;}
.form-contact{width: 50%;  margin: 120px auto 0;overflow: hidden;padding-bottom: 60px}
.wpcf7-submit{float: right;background: #000;color: #fff;
    height: 47px;width: 27%;}
.wrapper-contact .row{
    -moz-box-shadow:0 4px 5px #777;
    -webkit-box-shadow:0 4px 5px #777;
    box-shadow: 0 4px 5px #777;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fefefe 10%, #fdfdfd 40%, #e5e5e5 100%);
}
.img-border {
    border: 1px solid #cfcfcf;
    height: 150px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}
.customers{ margin-top: 93px; padding-top: 20px;}
.customers .item{height: 90px;margin-bottom: 23px}
.customers .item img{height: 100%;border: 1px solid #cfcfcf;padding: 4px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;}
.customers .row{border-bottom: 1px solid;  padding-bottom: 40px;}
.customers .first{margin-left: 0;padding-left: 0;}
.customers .last{margin-right: 0px;padding-right: 0px}
.customers .text-uppercase{margin-bottom: 21px;margin-top: 30px;}
.wrapper-product{margin-top: 93px}
.wrapper-product .list-product{
    -webkit-box-shadow: 0 4px 5px #777;
    -moz-box-shadow: 0 4px 5px #777;
    box-shadow:0 4px 5px #777;
    background-color: transparent;padding-bottom: 80px;padding-top: 20px;
    background-image: linear-gradient(to bottom, #fefefe 10%, #fdfdfd 40%, #e5e5e5 100%);}

.footers{overflow: hidden;width: 100%}
.moblie .img{height: 85px;width: 85px}
.list-product .list{margin-top: 30px;float: left;overflow: hidden}
.servies ul{padding-left: 0px}
.moblie{border-bottom: 1px solid #cfcfcf; padding-bottom: 19px;}
.list-product .item {border-bottom: 1px solid #cfcfcf;padding-bottom: 27px;
}
.details.list img {width: auto; overflow: hidden;}
.details.list img.aligncenter{overflow: hidden;text-align: center;margin: 0 auto}
.media-heading a{color: #000}
.details{border-bottom: 1px solid #cfcfcf;padding-left: 10px;padding-right:10px;background: none repeat scroll 0 0 #fff;border-radius: 4px;padding-bottom: 40px;margin-bottom: 22px;width: 100%}
.list-item a{color: #111111}
.glyphicon.glyphicon-chevron-right{font-size: 11px}
.news .media .media-left{float: left}
.news .media .media-left img{float: left;overflow: hidden}
.menu-header .navbar-form {margin: 8px 0;padding: 0;}
.menu-header .form-control{font-family: OpenSans-Regular;font-size: 13px;height: auto;padding: 0 12px;vertical-align: bottom;
    width: 258px;}
.img-phone{margin-bottom: 37px; margin-top: 24px;}
.details img.aligncenter{margin-bottom: 30px; margin-top: 30px;}
.br{margin-bottom: 10px;margin-top: 10px;width: 100%;float: left}
    /***/
/***phan trang**/
.pagination1{float:left;overflow:hidden;padding-left: 0px}
.page-id-132 .simplePagerNav, .category .simplePagerNav{border-top: 0px; padding-top: 0px}
.simplePagerNav{overflow:hidden;float:left;text-align:center;margin-top:20px;width: 100%;border-top: 1px solid #cfcfcf;padding-top: 20px; }
.simplePagerNav div{text-align:center;}
div.simplePagerNav div{padding: 5px 4px;margin:1px;border:1px solid #cfcfcf;cursor:pointer;display:block;float:left;margin-bottom:10px;text-align:center;font-size:14px}
div.simplePagerNav div.currentPage{cursor:not-allowed}
div.simplePagerNav div a{font-weight:700;text-decoration:none; padding: 6px 4px;}
div.currentPage{background:#0074a2}
div.currentPage a{color:#fff;font-weight:700}
.item.text-center a{color: #000}
.media-left .icon{width: 50px;height: 50px;float: left}
.media-left{float: left}
.details h3,.details h2{float: left;width: 100%}
/***maquee***/
.news .media-heading{float: left; margin-right: 20px; width: auto; overflow: hidden;}
.product-service .list-item .media{min-height: 93px}
/***/

@media(max-width: 320px){
    .address{font-size: 11px}

}

@media only screen and (min-device-width: 320px) and (max-device-width: 360px)
{
    .customers{margin-top: 100px;padding-top: 0px;}
    .form-contact{ width: 82%;}
    .list-product .list .media-left img{height: 85px;width: 85px}
    .wrapper-product{margin-top: 110px}
    .partners{display: none}
    .address{width: 90%;font-size: 11px}
    .related-post{ padding-left: 0;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{margin-top: 10px;}
    .img-border{height: 85px; width: 85px}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 764px)
{
    .customers .first{margin-left: 15px;}
    .customers .last{margin-right: 15px;}
}
@media(width: 768px){
    .customers{margin-top: 133px}
    .wrapper-product{margin-top: 140px}
}